<phpunit colors="true" bootstrap="vendor/autoload.php">

    <logging>
        <log type="coverage-html" target="coverage"/>
    </logging>

    <filter>
        <whitelist>
            <directory>src*</directory>
        </whitelist>
    </filter>


    <testsuites>

        <testsuite name="src_tests">
            <directory>tests*</directory>
        </testsuite>

    </testsuites>

</phpunit>